.tituloAmarillo{
	color: #f2b632;
	margin-left: auto;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

.tituloOscuro{
	padding-top: 2em;

	color: #252839;
	margin-left: auto;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;

}

.imagenCentral{
	padding-top: 2.5em;
	padding-bottom: 2em;


}

.subtituloGris{
	color: #677077;
	margin-left: auto;
	text-align: center;
	font-size: 1em;
	padding-bottom: 1em;
	font-style: italic;

}

.subtituloGrisBold{
	color: #252839;
	margin-left: auto;
	text-align: center;
	font-size: 1em;
	padding-top: 1em;
	font-weight: bold;
}

.separadorAmarillo{
	width: 30%;
	border-bottom:2px solid #f2b632;;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}


.separadorOscuro{
	width: 30%;
	border-bottom:2px solid #252839;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.textoGris{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #b5b5b7;
	text-align: center;
	padding-bottom: 1em;
}

.emptyBlock{

	height: 3em;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2em;
}

.card {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2em; 
	background-color: #b5b5b7;
}

.card-text{
	text-align: center;
	margin: 1em;
	padding-bottom: 1em;
}

.botonPortfolio{
	background-color: #252839;
	border: 0px;


}




/*___cosas de la pagina skills___*/


.unityColor{
	background-color: #000099;
}

.unity{
	background-color: #f3ba3f;
}

.blenderColor{
	background-color: #e68900;
}

.blender{
	background-color: #f3ba3f;
}

.jsColor{
	background-color: #b38f00
}

.javaScript{
	background-color: #fae5b7;
}

.pythonColor{
	background-color: #006bb3;
}

.python{
	background-color: #f6cb6f;
}
.photoshopColor{
	background-color: #6600cc;
}
.photoshop{
	background-color: #a8760b;
}

.skillsMargin{
	margin:50px auto;
	width: 75%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}


.exterior{
	display: table;
	width: 100%;

	
}

.titulo,.barra,.numero{
	display: table-cell;

}

.titulo{
	
	background-color: #f0a90f;

	vertical-align: middle;
	width: 130px;
	
	padding-left: 10px;
	
	font-weight: bold;
	color: #fff;
	
	z-index: 3;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 0 2px #333;
	text-shadow: 1px 1px 1px #000;
	text-align: center;

}

.barra{

	height: 40px;
	background: #b5b5b7;
	border-right: solid 2px #677077;
	box-shadow: 0 1px 2px #222;
}

.numero{
	width: 60px;
	/*padding-right: 10px;*/
	font-weight: bold;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #455a64;
	background-color: #b5b5b7;
	z-index: 3;
	text-align: center;
	vertical-align: middle;

}

.progreso{
	height: 40px;
	z-index: 10;
	text-align: left;
	border-radius: 5px;
	box-shadow: 2px 0 2px #555;
}

/*Barra superior*/
.lineaInferior{
	border-bottom: solid 2px #252839;

}

body{
	scroll-behavior: smooth;
}


/*_____Imagenes del portafolio____*/

.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;

}
.card-img-wrap .imagenZoom {
  transition: transform .25s;
  width: 100%;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}
.card-img-wrap:hover .imagenZoom {
  transform: scale(1.2);
     -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.card-img-wrap:hover:after {
  opacity: 1;
   -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.middle {
  transition: .5s ease;
  opacity:0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}


.card-img-wrap:hover .middle {
  opacity: 1;
}

.textMiddle {
  background-color: #f2b632;
  color: #252839;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  font-weight:bold;
}

.logo{
	display: inline-block;
	width: 50px;
	height: 50px;

}

.centered{
	
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 200px;
	height: 100px;
}

.logo2{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
}